body{
    background-color: rgb(109, 109, 109)
}

table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}

th{
    background-color: darkcyan;
}

tr:nth-child(odd){
    background-color: aqua;
}
tr:nth-child(even){
    background-color: beige;
}

.error{
    color: red;
    text-shadow: 3px 3px 3px black;
}